<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            <%=title%>
        </h1>
        
        <h1><i>Welcome <%=user.name%>  You have successfully logged in!!</i></h1>
        

    